.bg {
    /* The image used */
    background-image: url('https://c4.wallpaperflare.com/wallpaper/204/759/755/artwork-digital-art-abstract-simple-background-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;


    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
       /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
  }
.arwin{
    margin-left: -80%;
}

.submit{
    padding-top: 20px;
    margin-left: -80%;
}
h1{
text-align:center;
}