"<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose_Between</title>
<!--    <link stylesheet-->
<!--</style>-->
            {% load static %}
        <link rel="stylesheet" href="{%static 'choosing.css'%}">
</head>
<body>
<center><h1 style="font-family: Georgia, serif;color:white"><span class="a">Audio Sentiment Analysis</span></h1></center>
<br>
<h2 style="font-family: Georgia, serif;color:white">Choose Options :</h2>
<br>
<a href="lists"><button class="button-33" role="button">View All Transcriptions</button></a>
<br>
<br>
<a href="chosen_file/"><button class="button-33" role="button">Create Transcription</button></a>

</body>
</html>