<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	{%load static%}
	        <link rel="stylesheet" href="{%static 'second_page.css'%}">
	<br>
	<br>
	 <style>
        h1 {
  display: inline; /* the default for span */
  width: 300px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
  background-color: orange;
}
p {
  font-family: "Times New Roman", Times, serif;
  font-size:20px;
}


    </style>

</head>
<body>
<div class="body">

	<!-- Specify fields to be displayed -->
<!--	{{context.transcripted_sentence}}-->
	<center><h1 style="font-family: Georgia, serif;color:white">Transcription Page</h1></center>

	<br>
	<br>
	<h2 class="design">File Name </h2>  <p> {{ data.file_name }}</p><br/>
	<br>
	<h2 class="design">Transcription </h2>  <p>{{ data.transcripted_sentence }}</p><br/>
	<br>
	<h2 class="design">Sentiment Analysis</h2>  <p>{{ data.Sentiment_analysis }}</p><br/>


</div>

</body>
</html>