<!DOCTYPE html>
<html lang="en">

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	{%load static%}
	        <link rel="stylesheet" href="{%static 'second_page.css'%}">

	 <style>
        h1 {
  display: inline; /* the default for span */
  width: 300px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
  background-color: orange;
}
p {
  font-family: "Times New Roman", Times, serif;
  font-size:20px;
}

    </style>

</head>

<body>
<div class="body">

	<!-- Specify fields to be displayed -->
<!--	{{context.transcripted_sentence}}-->
    <br>
    <br>
	<center><h1 style="font-family: Georgia, serif;color:white">Transcription Page</h1></center>

	<br>
	<br>
    <h2 class="design">File Name </h2> <p> {{ file_name }}</p><br/>
    <br>
    <h2 class="design">Transcription </h2>  <p> {{ text_transcript}}</p><br/>
    <br>
    <h2 class="design">Sentiment Analysis</h2> <p> {{ score}} </p> <br/>

</div>










</body>
    {% block javascript %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">

{% endblock javascript %}


</script>

</html>
{% endblock content %}

