<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    h1{
    font-family: Georgia, serif;
    background:white;
    color: black;
    padding: 5px;
    border-radius: 10px;
    width:800px;
    }


    </style>

    {% for message in messages %}
<div style="color:red;font-weight:bold" class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message | safe }}
</div>
{% endfor %}
                {% load static %}
        <link rel="stylesheet" href="{%static 'second_page.css'%}">
</head>
<body>
<!--<h1>Audio Sentiment Analysis</h1>-->
<br>

<center><h1 style="font-family: Georgia, serif;color:black">Audio Speech Recognition and Sentiment Analysis</h1></center>



<br>
<br>
<br>
<br>
<br>
<center>

    <h2 style="font-family: Georgia, serif;"> Upload File:</h2>
<form action = "/audiofile/process/" method = "POST">
        {% csrf_token %}

        <input class="btn" type="file" id="myFile"name="filename"> <br>
<br>

<div class="submit" onclick="change()">
        <input type="submit" class="btn" onclick="fileExist()" value="Transcript" >
      </div>
<!--        {{ message | safe }}-->

</form>
    </center>


<!--<script>-->
<!--    function fileExist(){-->
<!--    alert("Alert ");-->
<!--    }-->
<!--</script>-->



</body>
</html>